<a href="https://colab.research.google.com/github/Ritishh00/Data-privacy-and-security/blob/main/DPS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**30-01-25:**:

In [4]:
import pandas as pd
data = [
    {"Patient Name": "John Doe", "Address": "123 Main St", "Age": 35},
    {"Patient Name": "Jane Smith", "Address": "456 Oak Ave", "Age": 42},
    {"Patient Name": "Tom Brown", "Address": "789 Pine Rd", "Age": 53},
    {"Patient Name": "Emily Davis", "Address": "101 Maple Dr", "Age": 24}
]
df = pd.DataFrame(data)
# Print the data in tabular form
print(f"{'Patient Name':<15} {'Address':<20} {'Age':<5}")
print("-" * 40)
for entry in data:
    print(f"{entry['Patient Name']:<15} {entry['Address']:<20} {entry['Age']:<5}")

Patient Name    Address              Age
----------------------------------------
John Doe        123 Main St          35
Jane Smith      456 Oak Ave          42
Tom Brown       789 Pine Rd          53
Emily Davis     101 Maple Dr         24

In [5]:
df['Patient Name'] = ['patient' + str(i+1) for  i in range(len(df))]
df['Address'] = ['removed' for _ in range(len(df))]

In [13]:
def age_range(age):
    if 20<=age<=30:
        return '20-30'
    elif 31<=age<=40:
        return '31-40'
    elif 41<=age<=50:
        return '41-50'
    else:
        return 'other'

    df['Age Range'] = df['Age'].apply(age_range)
    df = df.drop(columns=['Age'])